@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<div class="view-header"><h2>Create a new Machine</h2></div>

<div class="view-body create">

@using (Html.BeginForm(FormMethod.Post, new { @class = "edit-form" }))
{
  <input type="text" name="Status" value="Operational" hidden>
  <div class="form-row">
    @Html.LabelFor(model => model.Manufacturer)
    @Html.TextBoxFor(model => model.Manufacturer)
    @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Model)
    @Html.TextBoxFor(model => model.Model)
    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.PurchaseDate, "Purchase date")
    @Html.TextBoxFor(model => model.PurchaseDate, new { @type = "date"})
    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "error-message" })
  </div>
  <button class="green" type="submit">Save</button>
}

</div>

<div class="button-area">
  <a href='@Url.Action("Index", "Machines")'>
    <button>Cancel</button>
  </a>
</div>