@{
  Layout = "_Layout";
}@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="view-header"><h2>Editing <span class="highlighted">@Html.DisplayFor(model => model.Manufacturer) @Html.DisplayFor(model => model.Model)</span></h2></div>

<div class="view-body edit">

@using (Html.BeginForm(FormMethod.Post, new { @class = "edit-form" }))
{
  @Html.HiddenFor(model => model.MachineId)

  <div class="form-row">
      @Html.LabelFor(model => model.Manufacturer)
      @Html.EditorFor(model => model.Manufacturer)
  </div>
  <div class="form-row">
      @Html.LabelFor(model => model.Model)
      @Html.EditorFor(model => model.Model)
  </div>
  <div class="form-row text-area">
    @Html.LabelFor(model => model.Description)
    <textarea name="Description">@Model.Description</textarea>
  </div>
  <button class="green" type="submit">Save</button>
}

</div>

<div class="button-area">
  <a href='@Url.Action("Details", "Machines", new { id = Model.MachineId })'>
    <button>Cancel</button>
  </a>
</div>