@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="view-header"><h2>Add a Machine for Engineer <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span></h2></div>

<div class="view-body edit">

@using (Html.BeginForm(FormMethod.Post, new { @class = "dropdown-form" }))
{
  @Html.HiddenFor(model => model.EngineerId)

  var counter=0;
  foreach(var a in ViewBag.MachineId)
  {
    counter++;
    break;
  }
  
  @if(counter > 0){ // if at least one dropdown option exists
    <div class="form-row">
      @Html.Label("Select Machine")
      @Html.DropDownList("MachineId")
      <button class="green" type="submit">Save</button>
    </div>
  } else {
    <div class="dropdown-empty-message">You must add a machine first!</div>
  }
}

</div>

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Details", "Engineers", new { id = Model.EngineerId})'>
    <button>Cancel</button>
  </a>
</div>