@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<div class="view-header"><h2>Create a new Engineer</h2></div>

<div class="view-body create">

@using (Html.BeginForm())
{
  <div class="form-row">
      @Html.LabelFor(model => model.FirstName, "First name")
      @Html.TextBoxFor(model => model.FirstName)
      @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
      @Html.LabelFor(model => model.LastName, "Last name")
      @Html.TextBoxFor(model => model.LastName)
      @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.PhoneNumber, "Phone number")
    @Html.TextBoxFor(model => model.PhoneNumber)
    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "error-message" })
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.HourlyRate, "Hourly rate")
    <input type="number" name="HourlyRate" value="20">
    @Html.ValidationMessageFor(model => model.HourlyRate, "", new { @class = "error-message" })
  </div>
  <button class="green" type="submit">Save</button>
}

</div>

<div class="button-area">
  <a href='@Url.Action("Index", "Engineers")'>
    <button>Cancel</button>
  </a>
</div>