@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div id="delete-modal" class="modal obscured">
  <div class="modal-message">
    <span>Are you sure you want to delete</span>
    <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</span>
  </div>

  <div class="button-area">
    @using (Html.BeginForm("Delete", "Engineers", new { id = @Model.EngineerId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>

  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div>

<div class="editing-header">
  <div class="view-header"><h2>Details for engineer <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)<span></h2></div>
  <div class="button-area">
    <a href='@Url.Action("Edit", new { id = Model.EngineerId })'>
      <button class="yellow">Edit</button>
    </a>
    <div>
      <button onclick="showModal('delete');" class="red">Delete</button>
    </div>
  </div>
</div>

<div class="view-body details">
  <div class="info-area">
    <div class="info-row">
        @Html.LabelFor(model => model.FirstName, "First name")
        <div>@Html.DisplayFor(model => model.FirstName)</div>
    </div>
    <div class="info-row">
        @Html.LabelFor(model => model.LastName, "Last name")
        <div>@Html.DisplayFor(model => model.LastName)</div>
    </div>
    <div class="info-row">
      @Html.LabelFor(model => model.PhoneNumber, "Phone number")
      <div>@Html.DisplayFor(model => model.PhoneNumber)</div>
    </div>
    <div class="info-row">
      @Html.LabelFor(model => model.HourlyRate, "Hourly rate")
      <div>$@Html.DisplayFor(model => model.HourlyRate, new { @type="number"})</div>
    </div>
  </div>

  @if (@Model.CertificationPartners.Count == 0)
  {
    <p>This engineer is not certified to repair any machines!</p>
  }
  else
  {
    <h3>Machine certifications:</h3>
    <ul class="capsule-list machine-list">
    @foreach (EngineerMachine join in Model.CertificationPartners)
      {
        <li>@join.Machine.Manufacturer @join.Machine.Model
          @using (Html.BeginForm("DeleteJoin", "Engineers"))
          {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            @Html.Hidden("engineerId", @Model.EngineerId)
            <button class="red" type="submit">Revoke</button>
          }
        </li>
      }
    </ul>
  }

  <div class="button-area">
    <a href='@Url.Action("AddMachine", new { id = Model.EngineerId })'>
      <button class="green">Certify for new Machine</button>
    </a>
  </div>
</div>

<p>
  <a href='@Url.Action("Index")'>
    <button>Show Engineer List</button>
  </a>
  <br />&nbsp;<br />
  <a href='@Url.Action("Index", "Home")'>
    <button>Home</button>
  </a>
</p>